.SectionBreak {
  text-align: center;
}
.hljs {
  font-size: larger;
}
.right-column {
  line-height: 1.5rem;
  hyphens: auto;
}
li.Active {
  font-weight: 700;
}
.left-column ul {
  list-style-type: none;
}
.tm, .tm2, .hljs {
  font-family: 'Source Code Pro', monospace;
  padding: 0 2px;
  border-radius: 2px;
  cursor: pointer;
  hyphens: none;
}
.tm {
  background-color: #cfffd2;
  border-bottom: 1px solid #90bd93;
  border-right: 1px solid #90db93;
  color: darkgreen;
}
.tm:active:hover {
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #90bd93;
  border-left: 1px solid #90db93;
}
.tm2 {
  background-color: #fffad5;
  color: #a08124;
  border-right: 1px solid #e0d68e;
  border-bottom: 1px solid #dace79;
}
.tm2:active:hover {
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #e0d68e;
  border-left: 1px solid #dace79;
}
body {
  font-family: 'Ruda', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Great Vibes', sans-serif;
}
footer {
  padding: 1em;
  border-top: 1px dashed;
}